<div class="container w-25">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="border border-2 rounded-4 p-5">

      <div class="fs-1 text-center mb-3">
        <i class="bi bi-calendar-week"></i>
        Reserve Room
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <h2 class="fs-2 text-center mb-3">Editar Perfil</h2>

        <div class="field mt-2">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field mt-2">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Senha (Mínimo de #@minimum_password_length caracteres) " %>
        </div>

        <div class="field mt-2">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirme a Senha" %>
        </div>

        <div class="field mt-2">
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Digite sua Senha para confirmar as alterações" %>
        </div>

        <div class="actions mt-2 mb-2 d-grid gap-2 col-12">
          <%= f.submit "Atualizar", class: "btn btn-primary" %>
        </div>
      <% end %>

      <div class="actions mt-2 mb-2 d-grid gap-2 col-12 mb-4">
        <%= link_to "Voltar", :back, class: "btn btn-secondary" %>
      </div>

      <hr class="border border-secondary border-2">

      <div class="text-center align-middle">
        <h5>Cancelar minha conta</h5>

        <%= button_to registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-sm" do %>
          Cancelar Conta
        <% end %>
      </div>
