<div id="<%= dom_id booking %>">
  <p>
    <strong>Name:</strong>
    <%= booking.name %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= booking.subject %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= booking.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= booking.end_time %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

</div>
