<%= form_with(model: booking, html:{class:"form"}) do |form| %>
  <div class="row">
    <div class="mb-3">
      <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>
  </div>
  <div class="row">
    <div class="mb-3">
      <%= form.text_area :subject, class: "form-control", placeholder: "Objetivo" %>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <div class="text-sm-start">Início</div>
      <%= form.datetime_field :start_time, class: "form-control" %>
    </div>
    <div class="col mb-3">
      <div>Término</div>
      <%= form.datetime_field :end_time, class: "form-control", placeholder: "Data de fim" %>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <% if button_update %>
        <button id="<%= booking.id %>" class= "update-booking btn btn-primary" data-bs-toggle="modal" data-bs-target="#editBookingModal">Atualizar</button>
      <% else %>
        <%= form.submit 'Salvar', class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
<% end %>