<!-- NavBar -->
<%= render partial: "navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col d-flex justify-content-end m-3">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#newBookingModal">
        Nova Reserva
      </button>

    </div>
  </div>

   <div class="row">
    <div id="requests" class="col">
      <%= month_calendar(events: @bookings) do |date, bookings| %>
        <%= date.day %>
        <% bookings.each do |booking| %>
          <div id="display-item-<%= booking.id %>" class="row fs-6 m-1">
          
            <div class="fw-bold">
              <%= date_range(booking.start_time, booking.end_time) %>
            </div>
            <div class="fw-light col-3">
              <%= booking.name %>
            </div>

            <div class="col-3">
              <button id="<%= booking.id %>" class="show-booking btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-target="#newBookingModal">
                <i class="bi bi-pencil-square"></i>
              </button>
            </div>
            
            <div class="col-3">
              <button id="<%= booking.id %>" class="delete-booking btn btn-sm btn-dark">
                <i class="bi bi-trash3"></i>
              </button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Modal New Booking -->
  <div class="modal fade" id="newBookingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header"> 
          <h5 class="modal-title" id="exampleModalLabel">
            Nova Reserva
          </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "bookings/form", booking: @booking %>
        </div>
      </div>
    </div>
  </div>
</div>